/*-----------------------------------------------------------

    初期設定

-----------------------------------------------------------*/
@charset"utf-8";
@import "compass";
html{
    font-size        : 62.5%;
    background-color : #f9f8f6;
    width            : 85%;
    margin-left      : auto;
    margin-right     : auto;
    @media ( min-width : 550px ) {
        width : 70%;
    }
}

/*    配色設定
-----------------------------------------------------------*/
$basecolor  : #f9f8f6;
$subcolor   : #887f69;
$keycolor   : #887f69;
$fontcolor  : #524b3b;

/*    フォントサイズの設定
-----------------------------------------------------------*/
@mixin fontsize($size: 24,$base: 10){
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

/*    calc計算の定義
-----------------------------------------------------------*/
@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

/*    初期化
-----------------------------------------------------------*/
body{
    line-height : 1.6;
    a {
        text-decoration : none;
        color           : $fontcolor;
    }
}

/*-----------------------------------------------------------

    ヘッダ
    
-----------------------------------------------------------*/
header{
    #logo {
        .sp {
            margin-top : 15px;
        }
        .pc {
            display : none;
        }
        text-align : center;
    } 
    #navi {
        text-align : center;
        .sp_navi {
            padding-top : 20px;
            ul {
                margin  : 0;
                padding : 0;
                li {
                    display      : inline;
                    list-style   : none;
                    margin-right : 4px;
                    &:last-child {
                        margin-right : 0;
                    }
                }
            }
            #sp_navi_menu {
                display    : none;
                list-style : none;
                padding    : 0;
                li {
                    display          : block;
                    background-color : #ffffff;
                    border-bottom    : solid 1px $basecolor;
                    a {
                        @include fontsize( 15 );
                        display         : block;
                        padding         : 10px 15px;
                        text-align      : left;
                    }
                }
            }
        }
        .pc_navi {
            display : none;
        }
    }
    @media ( min-width : 550px ) {
        padding-top    : 20px;
        @include clearfix;
        #logo{
            .pc{
                display: inline;
            }
            .sp{
                display: none;
            }
            float      : left;
            width      : 33.3333%;
            text-align : left;
        }
        #navi{
            float      : right;
            width      : 66.6666%;
            text-align : left;
            .sp_navi {
                display : none;
            }
            .pc_navi {
                display : inline;
                ul {
                    margin     : 0;
                    padding    : 17px 0 0;
                    list-style : none;
                    float      : right;
                    text-align : left;
                    li {
                        display : inline;
                        padding : 0 4px;
                        a {
                            color           : #524b3b;
                            font-weight     : bold;
                            @include fontsize( 15 );
                            &:hover {
                                color: #776d56;
                            }
                            /*fb、instaのアイコン*/ 
                            img:hover {
                                opacity: 0.75;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*-----------------------------------------------------------

    メイン
    
-----------------------------------------------------------*/
main {
    #area01 {
        padding : 20px 0;
        @include clearfix;
        /*    main_field
        -----------------------------------------------------------*/
        #main_field{
            margin-bottom : 10px;
            text-align    : center;
            .title {
                margin : 15px 0;
            }
            h2 {
                font-size   : 1.6rem;
                color       : #8a8168;
                font-weight : bold;
                
                /*PC VIEW--------------------------------------------*/ 
                @media ( min-width : 550px ) {
                    background-image    : url("../images/top/bar.png");
                    background-repeat   : no-repeat;
                    background-position : center;
                }
                small{
                    background-color: $basecolor;
                }
            }
            
            /*パンくずリスト-------------------------*/
            #pan_list {
                text-align    : left;
            	padding       : 0 5px 1px;
            	background    : #e8e4da;
                border        : solid 3px #e8e4da;
                @include border-top-left-radius     ( 5px );
                @include border-top-right-radius    ( 5px );
                @include border-bottom-left-radius  ( 5px );
                @include border-bottom-right-radius ( 5px );
                
                /*パンくずリストの中身---------------*/ 
                ul {
                    padding-left: 0;
                    li {
                    	@include fontsize ( 12 );
                    	display   : inline-block;
                    	color     : #8a8168;
                    	img {
                        	margin-right : 7px;
                    	    font-size    : 1.3rem;
                    	}
                        a {
                            color           : #8a8168;
                            &:hover {
                                opacity : 0.75;
                            }
                            /*間に挟むスラッシュ-----*/ 
                            &::after {
        	                   content : " / ";
                            }
                        }
                        &:last-child a::after {
                    	    content : "";
                        }
                    }
                }
            }
            
            /* banner -------------------------------*/
            #banner{
                margin : 15px auto;
                .sp {
                    width: 100%;
                }
                .pc {
                    display: none;
                }
                @media ( min-width : 550px ) {
                    .pc {
                        display : block;
                        width   : 100%;
                    }
                    .sp {
                        display : none;
                    }
                }
            }
            
            /* items_list & recent_items-------------*/
            #items_list , #recent_items {
                @include clearfix;
                .list_box , .recent_items_box {
                    background-color : #ffffff;
                    display          : inline;
                    float            : left;
                    @include calc ( width , "50% - 2px" );
                    margin : 1px;
                    a {
                        display         : block;
                        &:hover {
                             opacity : 0.75;
                        }
                    }
                    .list_pct , .rec_pct {
                        @include calc ( width, "100% - 14px" );
                        padding        : 7px;
                        padding-bottom : 0;
                    }
                    p{
                        @include fontsize(12);
                        color      : $fontcolor;
                        text-align : left;
                        margin     : 7px;
                        margin-top : 0;
                    }
                }
                
                /* PC VIEW---------------------------*/
                @media ( min-width : 550px ) {
                    .list_box , .recent_items_box {
                        @include calc ( width, "33.3333% - 4px" );
                    }
                }
            }
            
            /* shopping_guide -----------------------*/
            #shopping_guide {
                @include fontsize ( 12 );
                #wrapper {
                    .guide_box {
                        @include calc ( width, "100% - 4px" );
                        background-color : #ffffff;
                        text-align       : left;
                        padding-bottom   : 10px;
                        border           : 1px solid #f9f8f6;
                        h3 {
                            margin      : 10px;
                            font-size   : 1.5rem;
                            font-weight : bold;
                            color       : #8a8168;
                        }
                        div {
                            margin-left : 10px;
                            img {
                                width : 50%;
                            }
                        }
                        ul {
                            list-style : none;
                            margin     : 0;
                            padding    : 0;
                            color      : $subcolor;
                            li {
                                font-weight : bold;
                                margin      : 5px 10px;
                                span {
                                    color       : $fontcolor;
                                    font-weight : normal;
                                }
                                img {
                                    width : 95%;
                                }
                            }
                        }
                    }
                }
                
                @media ( min-width : 550px ) {
                    text-align : center;
                    .title {
                        .sp {
                            display : none;
                        }
                        .pc {
                            display : block;
                            img {
                                width : 100%;
                            }
                        }
                    }
                    #wrapper {
                        @include clearfix;
                        .guide_box {
                            height           : 230px;
                            @include calc ( width, "50% - 4px" );
                            float : left;
                        }
                    }
                }
            }
            
            /* PC VIEW ------------------------------*/
            @media ( min-width : 550px ) {
                width         : 74%;
                float         : left;
                margin-right  : 4%;
                margin-bottom : 0;
            }
        }
        
        /*    sub_field (共通)
        -----------------------------------------------------------*/
        #sub_field {
            width      : 100%;
            box-sizing : border-box;
            .sub_box{
                margin-bottom    : 10px;
                background-color : #ffffff;
            }
            .subtitle{
                background-color : $subcolor;
                padding          : 20px 15px;
                font-size        : 1.3rem;
                color            : #fff;
            }
            #link .subtitle , #categories .subtitle {
                background-image    : url("../images/top/next_icon.png");
                background-position : 95% center; 
                background-repeat   : no-repeat;
            
                @media ( min-width : 550px ) {
                    &:hover {
                        background          : #b7b1a1;
                        background-image    : url("../images/top/next_icon.png");
                        background-position : 95% center;
                        background-repeat   : no-repeat;
                        cursor              : pointer;
                    }
                }
            }
            /* PC VIEW ---------------------------*/
            @media ( min-width : 550px ) {
                width : 22%;
                float : left;
            }
        }

        /*    sub_field (個別)
        -----------------------------------------------------------*/
        #sub_field {
            #search_box {
                background-color : #ffffff;
                padding-bottom   : 13px;
                padding          : 15px;
                @media ( min-width : 550px ) {
                    background    : #fff;
                }
                form {
                    h4 {
                        display        : none;
                        @include fontsize( 13 );
                        font-weight   : bold;
                        color         : #887f69;
                        margin-top    : 0;
                        margin-bottom : 5px;
                        @media ( min-width : 550px ) {
                            display : block;
                        }
                    }
                    dl{
                        margin   : 0;
                        position : relative;
                        dt {
                            input[ type="search" ] {
                                padding            : 3px 15% 3px 3%;
                                width              : 82%;
                                height             : 24px;
                                background         : #eee;
                                box-sizing         : content-box;
                                border             : none;
                            } 
                        }
                        dd {
                            position : absolute;
                            top      : 7px;
                            right    : 5px;
                        }
                    }
                }
            }
            
            /* link & categories */
            #link , #categories {
                .inner_list {
                    list-style : none;
                    padding    : 0;
                    display    : none;
                    margin     : 0;
                    
                    li {
                        margin        : 0;
                        border-bottom : 1px solid $basecolor;
                        a {
                            @include fontsize( 12 );
                            color               : $fontcolor;
                            display             : block;
                            padding             : 10px 15px;
                            background-image    : url("../images/top/next_icon_gray.png");
                            background-position : 95% center; 
                            background-repeat   : no-repeat;
                            @media ( min-width : 550px ) {
                                &:hover {
                                    background          : #eee;
                                    background-image    : url("../images/top/next_icon_gray.png");
                                    background-position : 95% center; 
                                    background-repeat   : no-repeat;
                                }
                            }
                        }
                    }
                }
            }
            
            /* about & shopinfo*/
            #about , #shopinfo {
                background-color: #ffffff;
                .about_box , .info_box {
                    @include clearfix;
                    @include calc ( width,"100% - 20px" );
                    padding : 10px;
                    .inbox_right {
                        padding-left : 20px;
                    }
                    .inbox_left , .inbox_right {
                        float : left;
                        @include calc ( width,"50% - 10px" );
                        .about_pct , .info_pct {
                            width : 100%;
                        }
                        .comment{
                            @include fontsize ( 12 );
                            text-align : left;
                        }
                        
                        /*MOREボタン*/ 
                        .button{
                            text-align: center;
                            a {
                                display       : inline-block;
                                padding       : 5px 25px;
                                background    : #8a8168;
                                @include border-radius( 28px );
                                margin        : 10px;
                                margin-bottom : 0;
                                color         : #fff;
                                @include fontsize ( 13 );
                                
                                @media ( min-width : 550px ) {
                                    &:hover {
                                        background : #b7b1a1;
                                    }
                                }
                            }
                        }
                    }
                }
                @media ( min-width : 550px ) {
                    .about_box , .info_box {
                        .inbox_right {
                            padding : 0;
                        }
                        .inbox_left , .inbox_right {
                            width : 100%;
                            .button {
                                .more_btn {
                                    width : 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #area02 {
        /*page_top---------------------------*/
        #page_top {
            text-align : center;
            padding    : 20px 0;
            @media ( min-width : 550px ) {
                text-align : right;
                a img:hover {
                    opacity : 0.75;
                }
            }
        }
    }
}

/*-----------------------------------------------------------

    フッタ
    
-----------------------------------------------------------*/
footer {
    ul {
        text-align : center;
        padding    : 20px 0 20px;
        border-top : 1px solid #e2ddd4;
    }
    li {
        display : inline-block;
        margin  : 0 5px;
        @include fontsize ( 12 );
        line-height : 1.9;
        
        a {
            &:hover {
                color : #776d56;
            }
        }
    }
    p {
        text-align    : center;
        margin-bottom : 20px;
        @include     fontsize ( 12 ) ;
        color      : #b8b4ac;
    }
}