@charset "UTF-8";
html {
  font-size: 62.5%;
  background-color: #f9f8f6;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 600px) {
    html {
      width: 60%; } }

/*フォント、基本色の設定*/
div .arrows {
  background-image: url("../images/top/foot_arroehead.png");
  background-size: 4px 6px; }
  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    div .arrows {
      background-image: url("../images/top/foot_arroehead@2x.png"); } }

header {
  padding-top: 10px;
  padding-bottom: 4px; }
  header #logo {
    text-align: center; }
    header #logo .pc {
      display: none; }
  header #navi {
    text-align: center; }
    header #navi .sp_navi li {
      display: inline;
      list-style: none; }
    header #navi .sp_navi #sp_navi_menu {
      display: none;
      list-style: none;
      padding: 0; }
      header #navi .sp_navi #sp_navi_menu li {
        display: block;
        background-color: #ffffff;
        border-bottom: solid 1px #f9f8f6; }
        header #navi .sp_navi #sp_navi_menu li a {
          font-size: 24px;
          font-size: 2.4rem;
          text-decoration: none;
          color: #524b3b;
          display: block;
          padding: 10px 15px;
          text-align: left; }
    header #navi .pc_navi {
      display: none; }
  @media (min-width: 600px) {
    header #logo {
      float: left;
      width: 50%;
      text-align: left; }
      header #logo .pc {
        display: inline; }
      header #logo .sp {
        display: none; }
    header #navi {
      float: left;
      width: 50%;
      text-align: right; }
      header #navi .sp_navi {
        display: none; }
      header #navi .pc_navi {
        display: inline; }
        header #navi .pc_navi ul {
          list-style: none; }
          header #navi .pc_navi ul li {
            display: inline;
            padding: 0 8px; }
    header .clearfix::after {
      content: '';
      display: block;
      clear: both; } }

section {
  /*sidebar*/
  /*page_top---------------------------*/ }
  section #main {
    text-align: center;
    /* new_items -------------------------*/
    /* popular_items--------------------- */
    /* shopping_guide --------------------*/ }
    section #main .title {
      margin: 15px 0; }
    section #main .pc {
      display: none; }
    section #main #new_items {
      height: auto;
      overflow: hidden; }
      section #main #new_items .title .pc {
        display: none; }
      section #main #new_items .new_items_box {
        height: auto;
        overflow: hidden;
        background-color: #ffffff;
        display: inline;
        float: left;
        width: -moz-calc(50% - 4px);
        width: -o-calc(50% - 4px);
        width: -webkit-calc(50% - 4px);
        width: calc(50% - 4px);
        margin: 2px; }
        section #main #new_items .new_items_box a {
          display: block;
          text-decoration: none; }
          section #main #new_items .new_items_box a:hover {
            opacity: 0.75; }
        section #main #new_items .new_items_box .new_pct {
          width: -moz-calc(100% - 20px);
          width: -o-calc(100% - 20px);
          width: -webkit-calc(100% - 20px);
          width: calc(100% - 20px);
          margin: 10px; }
        section #main #new_items .new_items_box p {
          font-size: 12px;
          font-size: 1.2rem;
          text-align: left;
          margin: 10px; }
      section #main #new_items .clearfix::after {
        content: '';
        display: block;
        clear: both; }
      @media (min-width: 600px) {
        section #main #new_items .title .sp {
          display: none; }
        section #main #new_items .title .pc {
          display: block; }
          section #main #new_items .title .pc img {
            width: 100%; }
        section #main #new_items .new_items_box {
          width: -moz-calc(33.3333% - 4px);
          width: -o-calc(33.3333% - 4px);
          width: -webkit-calc(33.3333% - 4px);
          width: calc(33.3333% - 4px); } }
    section #main #popular_items {
      height: auto;
      overflow: hidden; }
      section #main #popular_items .title .pc {
        display: none; }
      section #main #popular_items .popular_items_box {
        height: auto;
        overflow: hidden;
        background-color: #ffffff;
        display: inline;
        float: left;
        width: -moz-calc(50% - 4px);
        width: -o-calc(50% - 4px);
        width: -webkit-calc(50% - 4px);
        width: calc(50% - 4px);
        margin: 2px; }
        section #main #popular_items .popular_items_box a {
          display: block;
          text-decoration: none; }
          section #main #popular_items .popular_items_box a:hover {
            opacity: 0.75; }
        section #main #popular_items .popular_items_box .pop_pct {
          width: -moz-calc(100% - 20px);
          width: -o-calc(100% - 20px);
          width: -webkit-calc(100% - 20px);
          width: calc(100% - 20px);
          margin: 10px; }
        section #main #popular_items .popular_items_box p {
          text-align: left;
          font-size: 12px;
          font-size: 1.2rem;
          margin: 10px; }
      section #main #popular_items .clearfix::after {
        content: '';
        display: block;
        clear: both; }
      @media (min-width: 600px) {
        section #main #popular_items .title .sp {
          display: none; }
        section #main #popular_items .title .pc {
          display: block; }
          section #main #popular_items .title .pc img {
            width: 100%; }
        section #main #popular_items .popular_items_box {
          width: -moz-calc(33.3333% - 4px);
          width: -o-calc(33.3333% - 4px);
          width: -webkit-calc(33.3333% - 4px);
          width: calc(33.3333% - 4px); } }
    section #main #shopping_guide {
      height: auto;
      overflow: hidden;
      font-size: 12px;
      font-size: 1.2rem; }
      section #main #shopping_guide .title .pc {
        display: none; }
      section #main #shopping_guide .containar .guide_box {
        height: auto;
        overflow: hidden;
        width: -moz-calc(100% - 4px);
        width: -o-calc(100% - 4px);
        width: -webkit-calc(100% - 4px);
        width: calc(100% - 4px);
        margin: 0 2px 20px 2px;
        background-color: #ffffff;
        text-align: left; }
        section #main #shopping_guide .containar .guide_box ul {
          list-style-type: square;
          color: #887f69; }
          section #main #shopping_guide .containar .guide_box ul span {
            color: #524b3b; }
        section #main #shopping_guide .containar .guide_box ul li p .guide_pct {
          width: -moz-calc(100% - 2px);
          width: -o-calc(100% - 2px);
          width: -webkit-calc(100% - 2px);
          width: calc(100% - 2px);
          margin: 1px; }
      @media (min-width: 600px) {
        section #main #shopping_guide {
          text-align: center; }
          section #main #shopping_guide .title .sp {
            display: none; }
          section #main #shopping_guide .title .pc {
            display: block; }
            section #main #shopping_guide .title .pc img {
              width: 100%; }
          section #main #shopping_guide .containar .guide_box {
            width: -moz-calc(50% - 4px);
            width: -o-calc(50% - 4px);
            width: -webkit-calc(50% - 4px);
            width: calc(50% - 4px);
            float: left; }
          section #main #shopping_guide .clearfix::after {
            content: '';
            display: block;
            clear: both; } }
  section #sidebar {
    width: 100%;
    box-sizing: border-box; }
    section #sidebar .sub_box {
      margin-bottom: 10px;
      background-color: #ffffff; }
    section #sidebar .subtitle {
      background-color: #887f69;
      padding: 15px 0 15px 0;
      padding-left: 20px; }
  @media (min-width: 600px) {
    section #main {
      width: calc(70% - 40px);
      float: left;
      margin: 0 20px; }
    section #sidebar {
      width: calc(30% - 40px);
      float: left;
      margin-right: 20px; }
    section .pc {
      display: block; }
    section .sp {
      display: none; }
    section .clearfix::after {
      content: '';
      display: block;
      clear: both; } }
  section #sidebar {
    /*link*/
    /*categories*/
    /* about */
    /*shopinfo*/ }
    section #sidebar #search_box {
      background-color: #ffffff;
      padding-bottom: 13px;
      padding: 15px; }
      @media (max-width: 600px) {
        section #sidebar #search_box {
          margin-bottom: 5px;
          background: #fff; } }
      section #sidebar #search_box h4 {
        margin-top: 0; }
    section #sidebar dt input[type="search"] {
      margin: auto;
      padding: 3px 15% 3px 3%;
      width: 82%;
      height: 24px;
      background: #eee;
      font-size: 1.1rem;
      position: relative;
      z-index: 0;
      -webkit-appearance: textfield;
      box-sizing: content-box;
      border: none; }
    section #sidebar dd input[type="image"] {
      float: right;
      margin: -24px 5px 0 0;
      position: relative;
      z-index: 100;
      height: 18px; }
    section #sidebar #link .subtitle {
      background-image: url("../images/top/next_icon.png");
      background-position: 95% center;
      background-repeat: no-repeat; }
    section #sidebar #link #list {
      list-style: none;
      padding: 0;
      display: none; }
      section #sidebar #link #list li {
        margin: 0;
        border-bottom: 1px solid #f9f8f6; }
        section #sidebar #link #list li a {
          font-size: 12px;
          font-size: 1.2rem;
          text-decoration: none;
          color: #524b3b;
          display: block;
          padding: 10px 15px;
          background-image: url("../images/top/next_icon_gray.png");
          background-position: 95% center;
          background-repeat: no-repeat; }
    section #sidebar #categories .subtitle {
      background-image: url("../images/top/next_icon.png");
      background-position: 95% center;
      background-repeat: no-repeat; }
    section #sidebar #categories #list {
      list-style: none;
      padding: 0;
      text-align: left;
      display: none; }
      section #sidebar #categories #list li {
        border-bottom: solid 1px #f9f8f6;
        padding: 10px 15px;
        background-image: url("../images/top/next_icon_gray.png");
        background-repeat: no-repeat;
        background-position: 95% center;
        margin-bottom: 1px;
        background-color: #ffffff;
        font-size: 12px;
        font-size: 1.2rem; }
        section #sidebar #categories #list li a {
          display: block;
          text-decoration: none;
          color: #524b3b; }
    section #sidebar #about {
      height: auto;
      overflow: hidden;
      background-color: #ffffff; }
      section #sidebar #about .about_box {
        width: -moz-calc(100% - 20px);
        width: -o-calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: calc(100% - 20px);
        margin: 5px;
        padding: 5px; }
        section #sidebar #about .about_box .inbox {
          float: left;
          width: -moz-calc(50% - 10px);
          width: -o-calc(50% - 10px);
          width: -webkit-calc(50% - 10px);
          width: calc(50% - 10px);
          margin: 5px; }
          section #sidebar #about .about_box .inbox .about_pct {
            width: -moz-calc(100% - 10px);
            width: -o-calc(100% - 10px);
            width: -webkit-calc(100% - 10px);
            width: calc(100% - 10px);
            margin: 5px; }
          section #sidebar #about .about_box .inbox .comment {
            font-size: 12px;
            font-size: 1.2rem;
            text-align: left; }
          section #sidebar #about .about_box .inbox .button {
            text-align: center; }
            section #sidebar #about .about_box .inbox .button .more_btn {
              width: -moz-calc(60% - 2px);
              width: -o-calc(60% - 2px);
              width: -webkit-calc(60% - 2px);
              width: calc(60% - 2px);
              margin: 30px 1px 0 1px; }
      section #sidebar #about .clearfix::after {
        content: '';
        display: block;
        clear: both; }
      @media (min-width: 600px) {
        section #sidebar #about .about_box .inbox {
          clear: both;
          width: -moz-calc(100% - 10px);
          width: -o-calc(100% - 10px);
          width: -webkit-calc(100% - 10px);
          width: calc(100% - 10px);
          margin: 5px; }
          section #sidebar #about .about_box .inbox .button .more_btn {
            width: -moz-calc(50% - 10px);
            width: -o-calc(50% - 10px);
            width: -webkit-calc(50% - 10px);
            width: calc(50% - 10px);
            margin: 5px; } }
    section #sidebar #shopinfo {
      height: auto;
      overflow: hidden;
      background-color: #ffffff; }
      section #sidebar #shopinfo .info_box {
        width: -moz-calc(100% - 20px);
        width: -o-calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: calc(100% - 20px);
        margin: 5px;
        padding: 5px; }
        section #sidebar #shopinfo .info_box .inbox {
          float: left;
          width: -moz-calc(50% - 10px);
          width: -o-calc(50% - 10px);
          width: -webkit-calc(50% - 10px);
          width: calc(50% - 10px);
          margin: 5px; }
          section #sidebar #shopinfo .info_box .inbox .info_pct {
            width: -moz-calc(100% - 10px);
            width: -o-calc(100% - 10px);
            width: -webkit-calc(100% - 10px);
            width: calc(100% - 10px);
            margin: 5px; }
          section #sidebar #shopinfo .info_box .inbox .comment {
            font-size: 12px;
            font-size: 1.2rem;
            text-align: left; }
          section #sidebar #shopinfo .info_box .inbox .button {
            text-align: center; }
            section #sidebar #shopinfo .info_box .inbox .button .more_btn {
              width: -moz-calc(60% - 2px);
              width: -o-calc(60% - 2px);
              width: -webkit-calc(60% - 2px);
              width: calc(60% - 2px);
              margin: 30px 1px 0 1px; }
      section #sidebar #shopinfo .clearfix::after {
        content: '';
        display: block;
        clear: both; }
      @media (min-width: 600px) {
        section #sidebar #shopinfo .info_box .inbox {
          clear: both;
          width: -moz-calc(100% - 10px);
          width: -o-calc(100% - 10px);
          width: -webkit-calc(100% - 10px);
          width: calc(100% - 10px);
          margin: 5px; }
          section #sidebar #shopinfo .info_box .inbox .button .more_btn {
            width: -moz-calc(50% - 10px);
            width: -o-calc(50% - 10px);
            width: -webkit-calc(50% - 10px);
            width: calc(50% - 10px);
            margin: 5px; } }
  section #page_top {
    text-align: center; }
    @media (min-width: 600px) {
      section #page_top {
        text-align: right; } }

footer ul {
  text-align: center; }
footer li {
  display: inline;
  margin: 0 5px; }
  footer li a {
    text-decoration: none;
    color: #524b3b; }
footer p {
  text-align: center;
  font-size: 20px;
  font-size: 2rem;
  color: #b8b4ac; }
  @media (min-width: 600px) {
    footer p {
      font-size: 10px;
      font-size: 1rem; } }

/*# sourceMappingURL=top_page.css.map */
