@charset "UTF-8";
/*-----------------------------------------------------------

    初期設定

-----------------------------------------------------------*/
html {
  font-size: 62.5%;
  background-color: #f9f8f6;
  width: 85%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 550px) {
    html {
      width: 70%; } }

/*    配色設定
-----------------------------------------------------------*/
/*    フォントサイズの設定
-----------------------------------------------------------*/
/*    calc計算の定義
-----------------------------------------------------------*/
/*    フォントの設定
-----------------------------------------------------------*/
/*    初期化
-----------------------------------------------------------*/
body {
  line-height: 1.6; }
  body a {
    text-decoration: none;
    color: #524b3b; }

/*-----------------------------------------------------------

    ヘッダ
    
-----------------------------------------------------------*/
header #logo {
  text-align: center; }
  header #logo .sp {
    margin-top: 15px; }
  header #logo .pc {
    display: none; }
header #navi {
  text-align: center; }
  header #navi .sp_navi {
    padding-top: 20px; }
    header #navi .sp_navi ul {
      margin: 0;
      padding: 0; }
      header #navi .sp_navi ul li {
        display: inline;
        list-style: none;
        margin-right: 4px; }
        header #navi .sp_navi ul li:last-child {
          margin-right: 0; }
    header #navi .sp_navi #sp_navi_menu {
      display: none;
      list-style: none;
      padding: 0; }
      header #navi .sp_navi #sp_navi_menu li {
        display: block;
        background-color: #ffffff;
        border-bottom: solid 1px #f9f8f6; }
        header #navi .sp_navi #sp_navi_menu li a {
          font-size: 15px;
          font-size: 1.5rem;
          text-decoration: none;
          color: #524b3b;
          display: block;
          padding: 10px 15px;
          text-align: left; }
  header #navi .pc_navi {
    display: none; }
@media (min-width: 550px) {
  header {
    padding-top: 20px;
    overflow: hidden;
    *zoom: 1; }
    header #logo {
      float: left;
      width: 33.3333%;
      text-align: left; }
      header #logo .pc {
        display: inline; }
      header #logo .sp {
        display: none; }
    header #navi {
      float: right;
      width: 66.6666%;
      text-align: left; }
      header #navi .sp_navi {
        display: none; }
      header #navi .pc_navi {
        display: inline; }
        header #navi .pc_navi ul {
          margin: 0;
          padding: 17px 0 0;
          list-style: none;
          float: right;
          text-align: left; }
          header #navi .pc_navi ul li {
            display: inline;
            padding: 0 4px; }
            header #navi .pc_navi ul li a {
              color: #524b3b;
              font-weight: bold;
              font-size: 15px;
              font-size: 1.5rem;
              /*fb、instaのアイコン*/ }
              header #navi .pc_navi ul li a:hover {
                color: #776d56; }
              header #navi .pc_navi ul li a img:hover {
                opacity: 0.75; } }

/*-----------------------------------------------------------

    メイン
    
-----------------------------------------------------------*/
main #area01 {
  padding: 20px 0;
  overflow: hidden;
  *zoom: 1;
  /*    main_field
  -----------------------------------------------------------*/
  /*    sub_field (共通)
  -----------------------------------------------------------*/
  /*    sub_field (個別)
  -----------------------------------------------------------*/ }
  main #area01 #main_field {
    margin-bottom: 10px;
    text-align: center;
    /* new_items & popular_items ---------*/
    /* shopping_guide --------------------*/
    /* PC VIEW ---------------------------*/ }
    main #area01 #main_field .title {
      margin: 15px 0; }
    main #area01 #main_field h2 {
      font-size: 1.6rem;
      color: #8a8168;
      font-weight: bold; }
      @media (min-width: 550px) {
        main #area01 #main_field h2 {
          background-image: url("../images/top/bar.png");
          background-repeat: no-repeat;
          background-position: center; } }
      main #area01 #main_field h2 small {
        background-color: #f9f8f6; }
    main #area01 #main_field #new_items, main #area01 #main_field #popular_items {
      overflow: hidden;
      *zoom: 1; }
      main #area01 #main_field #new_items .new_items_box, main #area01 #main_field #new_items .popular_items_box, main #area01 #main_field #popular_items .new_items_box, main #area01 #main_field #popular_items .popular_items_box {
        background-color: #ffffff;
        display: inline;
        float: left;
        width: -moz-calc(50% - 2px);
        width: -o-calc(50% - 2px);
        width: -webkit-calc(50% - 2px);
        width: calc(50% - 2px);
        margin: 1px; }
        main #area01 #main_field #new_items .new_items_box a, main #area01 #main_field #new_items .popular_items_box a, main #area01 #main_field #popular_items .new_items_box a, main #area01 #main_field #popular_items .popular_items_box a {
          display: block;
          text-decoration: none; }
          main #area01 #main_field #new_items .new_items_box a:hover, main #area01 #main_field #new_items .popular_items_box a:hover, main #area01 #main_field #popular_items .new_items_box a:hover, main #area01 #main_field #popular_items .popular_items_box a:hover {
            opacity: 0.75; }
        main #area01 #main_field #new_items .new_items_box .new_pct, main #area01 #main_field #new_items .new_items_box .pop_pct, main #area01 #main_field #new_items .popular_items_box .new_pct, main #area01 #main_field #new_items .popular_items_box .pop_pct, main #area01 #main_field #popular_items .new_items_box .new_pct, main #area01 #main_field #popular_items .new_items_box .pop_pct, main #area01 #main_field #popular_items .popular_items_box .new_pct, main #area01 #main_field #popular_items .popular_items_box .pop_pct {
          width: -moz-calc(100% - 14px);
          width: -o-calc(100% - 14px);
          width: -webkit-calc(100% - 14px);
          width: calc(100% - 14px);
          padding: 7px;
          padding-bottom: 0; }
        main #area01 #main_field #new_items .new_items_box p, main #area01 #main_field #new_items .popular_items_box p, main #area01 #main_field #popular_items .new_items_box p, main #area01 #main_field #popular_items .popular_items_box p {
          font-size: 12px;
          font-size: 1.2rem;
          color: #524b3b;
          text-align: left;
          margin: 7px;
          margin-top: 0; }
      @media (min-width: 550px) {
        main #area01 #main_field #new_items .new_items_box, main #area01 #main_field #new_items .popular_items_box, main #area01 #main_field #popular_items .new_items_box, main #area01 #main_field #popular_items .popular_items_box {
          width: -moz-calc(33.3333% - 4px);
          width: -o-calc(33.3333% - 4px);
          width: -webkit-calc(33.3333% - 4px);
          width: calc(33.3333% - 4px); } }
    main #area01 #main_field #shopping_guide {
      font-size: 12px;
      font-size: 1.2rem; }
      main #area01 #main_field #shopping_guide #wrapper .guide_box {
        width: -moz-calc(100% - 4px);
        width: -o-calc(100% - 4px);
        width: -webkit-calc(100% - 4px);
        width: calc(100% - 4px);
        background-color: #ffffff;
        text-align: left;
        padding-bottom: 10px;
        border: 1px solid #f9f8f6; }
        main #area01 #main_field #shopping_guide #wrapper .guide_box h3 {
          margin: 10px;
          font-size: 1.5rem;
          font-weight: bold;
          color: #8a8168; }
        main #area01 #main_field #shopping_guide #wrapper .guide_box div {
          margin-left: 10px; }
          main #area01 #main_field #shopping_guide #wrapper .guide_box div img {
            width: 50%; }
        main #area01 #main_field #shopping_guide #wrapper .guide_box ul {
          list-style: none;
          margin: 0;
          padding: 0;
          color: #887f69; }
          main #area01 #main_field #shopping_guide #wrapper .guide_box ul li {
            font-weight: bold;
            margin: 5px 10px; }
            main #area01 #main_field #shopping_guide #wrapper .guide_box ul li span {
              color: #524b3b;
              font-weight: normal; }
            main #area01 #main_field #shopping_guide #wrapper .guide_box ul li img {
              width: 95%; }
      @media (min-width: 550px) {
        main #area01 #main_field #shopping_guide {
          text-align: center; }
          main #area01 #main_field #shopping_guide .title .sp {
            display: none; }
          main #area01 #main_field #shopping_guide .title .pc {
            display: block; }
            main #area01 #main_field #shopping_guide .title .pc img {
              width: 100%; }
          main #area01 #main_field #shopping_guide #wrapper {
            overflow: hidden;
            *zoom: 1; }
            main #area01 #main_field #shopping_guide #wrapper .guide_box {
              height: 230px;
              width: -moz-calc(50% - 4px);
              width: -o-calc(50% - 4px);
              width: -webkit-calc(50% - 4px);
              width: calc(50% - 4px);
              float: left; } }
    @media (min-width: 550px) {
      main #area01 #main_field {
        width: 74%;
        float: left;
        margin-right: 4%;
        margin-bottom: 0; } }
  main #area01 #sub_field {
    width: 100%;
    box-sizing: border-box;
    /* PC VIEW ---------------------------*/ }
    main #area01 #sub_field .sub_box {
      margin-bottom: 10px;
      background-color: #ffffff; }
    main #area01 #sub_field .subtitle {
      background-color: #887f69;
      padding: 20px 15px;
      font-size: 1.3rem;
      color: #fff; }
    main #area01 #sub_field #link .subtitle, main #area01 #sub_field #categories .subtitle {
      background-image: url("../images/top/next_icon.png");
      background-position: 95% center;
      background-repeat: no-repeat; }
      @media (min-width: 550px) {
        main #area01 #sub_field #link .subtitle:hover, main #area01 #sub_field #categories .subtitle:hover {
          background: #b7b1a1;
          background-image: url("../images/top/next_icon.png");
          background-position: 95% center;
          background-repeat: no-repeat;
          cursor: pointer; } }
    @media (min-width: 550px) {
      main #area01 #sub_field {
        width: 22%;
        float: left; } }
  main #area01 #sub_field {
    /* link & categories */
    /* about & shopinfo*/ }
    main #area01 #sub_field #search_box {
      background-color: #ffffff;
      padding-bottom: 13px;
      padding: 15px; }
      @media (min-width: 550px) {
        main #area01 #sub_field #search_box {
          background: #fff; } }
      main #area01 #sub_field #search_box form h4 {
        display: none;
        font-size: 13px;
        font-size: 1.3rem;
        font-weight: bold;
        color: #887f69;
        margin-top: 0;
        margin-bottom: 5px; }
        @media (min-width: 550px) {
          main #area01 #sub_field #search_box form h4 {
            display: block; } }
      main #area01 #sub_field #search_box form dl {
        margin: 0;
        position: relative; }
        main #area01 #sub_field #search_box form dl dt input[type="search"] {
          padding: 3px 15% 3px 3%;
          width: 82%;
          height: 24px;
          background: #eee;
          box-sizing: content-box;
          border: none; }
        main #area01 #sub_field #search_box form dl dd {
          position: absolute;
          top: 7px;
          right: 5px; }
    main #area01 #sub_field #link .inner_list, main #area01 #sub_field #categories .inner_list {
      list-style: none;
      padding: 0;
      display: none;
      margin: 0; }
      main #area01 #sub_field #link .inner_list li, main #area01 #sub_field #categories .inner_list li {
        margin: 0;
        border-bottom: 1px solid #f9f8f6; }
        main #area01 #sub_field #link .inner_list li a, main #area01 #sub_field #categories .inner_list li a {
          font-size: 12px;
          font-size: 1.2rem;
          text-decoration: none;
          color: #524b3b;
          display: block;
          padding: 10px 15px;
          background-image: url("../images/top/next_icon_gray.png");
          background-position: 95% center;
          background-repeat: no-repeat; }
          @media (min-width: 550px) {
            main #area01 #sub_field #link .inner_list li a:hover, main #area01 #sub_field #categories .inner_list li a:hover {
              background: #eee;
              background-image: url("../images/top/next_icon_gray.png");
              background-position: 95% center;
              background-repeat: no-repeat; } }
    main #area01 #sub_field #about, main #area01 #sub_field #shopinfo {
      background-color: #ffffff; }
      main #area01 #sub_field #about .about_box, main #area01 #sub_field #about .info_box, main #area01 #sub_field #shopinfo .about_box, main #area01 #sub_field #shopinfo .info_box {
        overflow: hidden;
        *zoom: 1;
        width: -moz-calc(100% - 20px);
        width: -o-calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: calc(100% - 20px);
        padding: 10px; }
        main #area01 #sub_field #about .about_box .inbox_right, main #area01 #sub_field #about .info_box .inbox_right, main #area01 #sub_field #shopinfo .about_box .inbox_right, main #area01 #sub_field #shopinfo .info_box .inbox_right {
          padding-left: 20px; }
        main #area01 #sub_field #about .about_box .inbox_left, main #area01 #sub_field #about .about_box .inbox_right, main #area01 #sub_field #about .info_box .inbox_left, main #area01 #sub_field #about .info_box .inbox_right, main #area01 #sub_field #shopinfo .about_box .inbox_left, main #area01 #sub_field #shopinfo .about_box .inbox_right, main #area01 #sub_field #shopinfo .info_box .inbox_left, main #area01 #sub_field #shopinfo .info_box .inbox_right {
          float: left;
          width: -moz-calc(50% - 10px);
          width: -o-calc(50% - 10px);
          width: -webkit-calc(50% - 10px);
          width: calc(50% - 10px);
          /*MOREボタン*/ }
          main #area01 #sub_field #about .about_box .inbox_left .about_pct, main #area01 #sub_field #about .about_box .inbox_left .info_pct, main #area01 #sub_field #about .about_box .inbox_right .about_pct, main #area01 #sub_field #about .about_box .inbox_right .info_pct, main #area01 #sub_field #about .info_box .inbox_left .about_pct, main #area01 #sub_field #about .info_box .inbox_left .info_pct, main #area01 #sub_field #about .info_box .inbox_right .about_pct, main #area01 #sub_field #about .info_box .inbox_right .info_pct, main #area01 #sub_field #shopinfo .about_box .inbox_left .about_pct, main #area01 #sub_field #shopinfo .about_box .inbox_left .info_pct, main #area01 #sub_field #shopinfo .about_box .inbox_right .about_pct, main #area01 #sub_field #shopinfo .about_box .inbox_right .info_pct, main #area01 #sub_field #shopinfo .info_box .inbox_left .about_pct, main #area01 #sub_field #shopinfo .info_box .inbox_left .info_pct, main #area01 #sub_field #shopinfo .info_box .inbox_right .about_pct, main #area01 #sub_field #shopinfo .info_box .inbox_right .info_pct {
            width: 100%; }
          main #area01 #sub_field #about .about_box .inbox_left .comment, main #area01 #sub_field #about .about_box .inbox_right .comment, main #area01 #sub_field #about .info_box .inbox_left .comment, main #area01 #sub_field #about .info_box .inbox_right .comment, main #area01 #sub_field #shopinfo .about_box .inbox_left .comment, main #area01 #sub_field #shopinfo .about_box .inbox_right .comment, main #area01 #sub_field #shopinfo .info_box .inbox_left .comment, main #area01 #sub_field #shopinfo .info_box .inbox_right .comment {
            font-size: 12px;
            font-size: 1.2rem;
            text-align: left; }
          main #area01 #sub_field #about .about_box .inbox_left .button, main #area01 #sub_field #about .about_box .inbox_right .button, main #area01 #sub_field #about .info_box .inbox_left .button, main #area01 #sub_field #about .info_box .inbox_right .button, main #area01 #sub_field #shopinfo .about_box .inbox_left .button, main #area01 #sub_field #shopinfo .about_box .inbox_right .button, main #area01 #sub_field #shopinfo .info_box .inbox_left .button, main #area01 #sub_field #shopinfo .info_box .inbox_right .button {
            text-align: center; }
            main #area01 #sub_field #about .about_box .inbox_left .button a, main #area01 #sub_field #about .about_box .inbox_right .button a, main #area01 #sub_field #about .info_box .inbox_left .button a, main #area01 #sub_field #about .info_box .inbox_right .button a, main #area01 #sub_field #shopinfo .about_box .inbox_left .button a, main #area01 #sub_field #shopinfo .about_box .inbox_right .button a, main #area01 #sub_field #shopinfo .info_box .inbox_left .button a, main #area01 #sub_field #shopinfo .info_box .inbox_right .button a {
              display: inline-block;
              padding: 5px 25px;
              background: #8a8168;
              -moz-border-radius: 28px;
              -webkit-border-radius: 28px;
              border-radius: 28px;
              margin: 10px;
              margin-bottom: 0;
              color: #fff;
              font-size: 13px;
              font-size: 1.3rem; }
              @media (min-width: 550px) {
                main #area01 #sub_field #about .about_box .inbox_left .button a:hover, main #area01 #sub_field #about .about_box .inbox_right .button a:hover, main #area01 #sub_field #about .info_box .inbox_left .button a:hover, main #area01 #sub_field #about .info_box .inbox_right .button a:hover, main #area01 #sub_field #shopinfo .about_box .inbox_left .button a:hover, main #area01 #sub_field #shopinfo .about_box .inbox_right .button a:hover, main #area01 #sub_field #shopinfo .info_box .inbox_left .button a:hover, main #area01 #sub_field #shopinfo .info_box .inbox_right .button a:hover {
                  background: #b7b1a1; } }
      @media (min-width: 550px) {
        main #area01 #sub_field #about .about_box .inbox_right, main #area01 #sub_field #about .info_box .inbox_right, main #area01 #sub_field #shopinfo .about_box .inbox_right, main #area01 #sub_field #shopinfo .info_box .inbox_right {
          padding: 0; }
        main #area01 #sub_field #about .about_box .inbox_left, main #area01 #sub_field #about .about_box .inbox_right, main #area01 #sub_field #about .info_box .inbox_left, main #area01 #sub_field #about .info_box .inbox_right, main #area01 #sub_field #shopinfo .about_box .inbox_left, main #area01 #sub_field #shopinfo .about_box .inbox_right, main #area01 #sub_field #shopinfo .info_box .inbox_left, main #area01 #sub_field #shopinfo .info_box .inbox_right {
          width: 100%; }
          main #area01 #sub_field #about .about_box .inbox_left .button .more_btn, main #area01 #sub_field #about .about_box .inbox_right .button .more_btn, main #area01 #sub_field #about .info_box .inbox_left .button .more_btn, main #area01 #sub_field #about .info_box .inbox_right .button .more_btn, main #area01 #sub_field #shopinfo .about_box .inbox_left .button .more_btn, main #area01 #sub_field #shopinfo .about_box .inbox_right .button .more_btn, main #area01 #sub_field #shopinfo .info_box .inbox_left .button .more_btn, main #area01 #sub_field #shopinfo .info_box .inbox_right .button .more_btn {
            width: 50%; } }
main #area02 {
  /*page_top---------------------------*/ }
  main #area02 #page_top {
    text-align: center;
    padding: 20px 0; }
    @media (min-width: 550px) {
      main #area02 #page_top {
        text-align: right; }
        main #area02 #page_top a img:hover {
          opacity: 0.75; } }

/*-----------------------------------------------------------

    フッタ
    
-----------------------------------------------------------*/
footer ul {
  text-align: center;
  padding: 20px 0 20px;
  border-top: 1px solid #e2ddd4; }
footer li {
  display: inline-block;
  margin: 0 5px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.9; }
  footer li a {
    text-decoration: none;
    color: #524b3b; }
    footer li a:hover {
      color: #776d56; }
footer p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #b8b4ac; }

/*# sourceMappingURL=top_page.css.map */
