@charset"utf-8";
html{
    font-size: 62.5%;
    background-color: #f9f8f6;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    @media(min-width:600px){
        width: 60%;
    }
}

$basecolor: #f9f8f6;
$subcolor: #887f69;
$keycolor: #887f69;
$fontcolor: #524b3b;

@mixin fontsize($size: 24,$base: 10){
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}


@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}


/*フォント、基本色の設定*/
$ja_font :"ヒラギノ角ゴ　Pro w3", "HirakakuPro W3", メイリオ, Verdan, "MS Pゴシック", sans-serif;

div .arrows{
    background-image: url("../images/top/foot_arroehead.png");
    background-size: 4px 6px;
    @media screen and (-webkit-min-device-pixel-ratio:2),
                                  (min-resolution: 2dppx){
                    background-image: url("../images/top/foot_arroehead@2x.png");
    }
    
}

header{
        padding-top: 10px;
        padding-bottom: 4px;
    #logo{
        .pc{
            display: none;
        }
        text-align:center;
    } 
    #navi{
        text-align: center;
        .sp_navi{
            li{
                display: inline;
                list-style: none;
            }
            #sp_navi_menu{
                display: none;
                list-style: none;
                padding: 0;
                li{
                    display: block;
                    background-color: #ffffff;
                    border-bottom: solid 1px $basecolor;
                    a{
                        @include fontsize(24);
                        text-decoration: none;
                        color: $fontcolor;
                        display: block;
                        padding: 10px 15px;
                        text-align: left;
                    }
                }
            }
        }
        .pc_navi{
            display: none;
        }
    }
    @media(min-width: 600px){
        #logo{
            .pc{
                display: inline;
            }
            .sp{
                display: none;
            }
            float: left;
            width: 50%;
            text-align: left;
        }
        #navi{
            float: left;
            width: 50%;
            text-align: right;
            .sp_navi{
                display: none;
            }
            .pc_navi{
                display: inline;
                ul{
                    list-style: none;
                    li{
                        display: inline;
                        padding: 0 8px;
                    }
                }
            }
        }
        .clearfix::after {
            content: '';
            display: block;
            clear: both;
        }
    }
}
//header

section{
    #main{
        text-align: center;
        .title{
            margin: 15px 0;
        }
        .pc{
            display: none;
        }
        /* new_items -------------------------*/
        #new_items{
            height: auto;
            overflow: hidden;
            .title{
                .pc{
                    display: none;
                }
            }
            .new_items_box{
                height: auto;
                overflow: hidden;
                background-color: #ffffff;
                display: inline;
                float: left;
                @include calc(width,"50% - 4px");
                margin: 2px;
                a{
                    display: block;
                    text-decoration: none;
                    &:hover{
                         opacity: 0.75;
                    }
                }
                .new_pct{
                    @include calc(width,"100% - 20px");
                    margin: 10px;
                }
                p{
                    @include fontsize(12);
                    text-align: left;
                    margin: 10px;
                }
            }
            .clearfix::after {
                content: '';
                display: block;
                clear: both;
            }
            @media(min-width: 600px){
                .title .sp{
                    display: none;
                }
                .title .pc{
                    display: block;
                    img{
                        width: 100%;
                    }
                }
                .new_items_box{
                    @include calc(width,"33.3333% - 4px");
                }
            }
        }
    
        /* popular_items--------------------- */
        #popular_items{
                height: auto;
                overflow: hidden;
            .title{
                .pc{
                    display: none;
                }
            }
            .popular_items_box{
                height: auto;
                overflow: hidden;
                background-color: #ffffff;
                display: inline;
                float: left;
                @include calc(width,"50% - 4px");
                margin: 2px;
                a{
                    display: block;
                    text-decoration: none;
                    &:hover{
                        opacity: 0.75;
                    }
                }
                .pop_pct{
                    @include calc(width,"100% - 20px");
                    margin: 10px;
                }
                p{
                    text-align: left;
                    @include fontsize(12);
                    margin: 10px;
                }
            }
            .clearfix::after {
                content: '';
                display: block;
                clear: both;
            }
            @media(min-width: 600px){
                .title .sp{
                    display: none;
                }
                .title .pc{
                    display: block;
                    img{
                        width: 100%;
                    }
                }
                .popular_items_box{
                    @include calc(width,"33.3333% - 4px");
                }
            }
        }
    
        /* shopping_guide --------------------*/
        #shopping_guide{
            height: auto;
            overflow: hidden;
            @include fontsize(12);
            .title{
                .pc{
                    display: none;
                }
            }
            .containar .guide_box {
                height: auto;
                overflow: hidden;
                @include calc(width,"100% - 4px");
                margin: 0 2px 20px 2px;
                background-color: #ffffff;
                text-align: left;
                ul{
                    list-style-type: square;
                    color: $subcolor;
                    span{
                        color: $fontcolor;
                    }
                }
                ul li p .guide_pct{
                    @include calc(width,"100% - 2px");
                    margin: 1px;
                }
            }
            @media(min-width: 600px){
                text-align: center;
                .title{
                    .sp{
                        display: none;
                    }
                    .pc{
                        display: block;
                        img{
                            width: 100%;
                        }
                    }
                }
                .containar .guide_box{
                    @include calc(width,"50% - 4px");
                    float: left;
                }
                .clearfix::after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
        }
    }
    #sidebar {
        width: 100%;
        box-sizing: border-box;
        .sub_box{
            margin-bottom: 10px;
            background-color: #ffffff;
        }
        .subtitle{
            background-color: $subcolor;
            padding: 15px 0 15px 0;
            padding-left: 20px;
        }
    }
    @media(min-width: 600px){
        #main{
            width: calc(70% - 40px);
            float: left;
            margin: 0 20px;
        }
        #sidebar{
            width: calc(30% - 40px);
            float: left;
            margin-right: 20px;
        }
        .pc{
            display: block;
        }
        .sp{
            display: none;
        }
        .clearfix::after {
            content: '';
            display: block;
            clear: both;
        }
    }
    
    /*sidebar*/
    #sidebar{
        #search_box{
            background-color: #ffffff;
            padding-bottom: 13px;
            padding: 15px;
            @media(max-width: 600px){
                margin-bottom: 5px;
                background: #fff;
            }
            h4{
                margin-top: 0;
            }
        }
        dt{
            input[type="search"]{
                margin: auto;
                padding: 3px 15% 3px 3%;
                width: 82%;
                height: 24px;
                background: #eee;
                font-size: 1.1rem;
                position: relative;
                z-index: 0;
                -webkit-appearance: textfield;
                box-sizing: content-box;
                border: none;
            } 
        }
        dd{
            input[type="image"] {
                float: right;
                margin: -24px 5px 0 0;
                position: relative;
                z-index: 100;
                height: 18px;
            }
        }
        
        /*link*/
        #link{
            .subtitle{
                background-image: url("../images/top/next_icon.png");
                background-position: 95% center; 
                background-repeat: no-repeat;
            }
            #list{
                list-style: none;
                padding: 0;
                display: none;
               li{
                    margin: 0;
                    border-bottom: 1px solid $basecolor;
                    a{
                        @include fontsize(12);
                        text-decoration: none;
                        color: $fontcolor;
                        display: block;
                        padding: 10px 15px;
                        background-image: url("../images/top/next_icon_gray.png");
                        background-position: 95% center; 
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        /*categories*/
        #categories{
            .subtitle{
                background-image: url("../images/top/next_icon.png");
                background-position: 95% center; 
                background-repeat: no-repeat;
            }
            #list{
                list-style: none;
                padding: 0;
                text-align: left;
                display: none;
                li{
                    border-bottom: solid 1px $basecolor;
                    padding: 10px 15px;
                    background-image: url("../images/top/next_icon_gray.png");
                    background-repeat:no-repeat;
                    background-position: 95% center;
                    margin-bottom: 1px;
                    background-color: #ffffff;
                    @include fontsize(12);
                    a{
                        display: block;
                        text-decoration: none;
                        color: $fontcolor;
                    }
                }
            }
        }
        
        /* about */
        #about{
            height: auto;
            overflow: hidden;
            background-color: #ffffff;
            .about_box{
                @include calc(width,"100% - 20px");
                margin: 5px;
                padding: 5px;
                .inbox {
                    float: left;
                    @include calc(width,"50% - 10px");
                    margin: 5px;
                    .about_pct{
                        @include calc(width,"100% - 10px");
                        margin: 5px;
                    }
                    .comment{
                        @include fontsize(12);
                        text-align: left;
                    }
                    .button{
                        text-align: center;
                        .more_btn{
                            @include calc(width,"60% - 2px");
                            margin: 30px 1px 0 1px;
                        }
                    }
                }
            }
            .clearfix::after {
                content: '';
                display: block;
                clear: both;
            }
            @media(min-width: 600px){;
                .about_box{
                    .inbox{
                        clear: both;
                        @include calc(width,"100% - 10px");
                        margin: 5px;
                        .button{
                            .more_btn{
                                @include calc(width,"50% - 10px");
                                margin: 5px;
                            }
                        }
                        //.button
                    }
                    //.inbox
                }
                //.about_box
            }
            //@media
        }
        //#about
        
        /*shopinfo*/
        #shopinfo{
            height: auto;
            overflow: hidden;
            background-color: #ffffff;
            .info_box{
                @include calc(width,"100% - 20px");
                margin: 5px;
                padding: 5px;
                .inbox {
                    float: left;
                    @include calc(width,"50% - 10px");
                    margin: 5px;
                    .info_pct{
                        @include calc(width,"100% - 10px");
                        margin: 5px;
                    }
                    .comment{
                        @include fontsize(12);
                        text-align: left;
                    }
                    .button{
                        text-align: center;
                        .more_btn{
                        @include calc(width,"60% - 2px");
                        margin: 30px 1px 0 1px;
                        }
                    }
                }
            }
            .clearfix::after {
                content: '';
                display: block;
                clear: both;
            }
            @media(min-width: 600px){
                .info_box{
                    .inbox{
                        clear: both;
                        @include calc(width,"100% - 10px");
                        margin: 5px;
                        .button{
                            .more_btn{
                                @include calc(width,"50% - 10px");
                                margin: 5px;
                            }
                        }
                        //.button
                    }
                    //.inbox
                }
                //.info_box
            }
            //@media
        }
        //#shopinfo
    }
    //#sidebar
    
    /*page_top---------------------------*/
    #page_top{
        text-align: center;
        @media(min-width: 600px){
            text-align: right;
        }
    }
}
footer {
    ul{
        text-align: center;
    }
    li{
        display: inline;
        margin: 0 5px;
        a{
            text-decoration: none;
            color: $fontcolor;
        }
    }
    p{
        text-align: center;
        @include fontsize(20);
        color: #b8b4ac;
        @media(min-width: 600px){
            @include fontsize(10);
        }
    }
}